<div class='row'>
  <div class="form-group col-md-6">
    <label>De:</label>
    <input [(ngModel)]='form.de' type="date" class="form-control">
  </div>
  <div class="form-group col-md-6">
    <label>Até:</label>
    <input [(ngModel)]='form.ate' type="date" class="form-control">
  </div>
  <div class="form-group col-md-6">
    <label>Filial</label>
    <input [(ngModel)]='form.filial' type="text" class="form-control">
  </div>
  <div class="form-group col-md-6">
    <label>Vaga</label>
    <input [(ngModel)]='form.vaga_nome' type="text" class="form-control">
  </div>
</div>

<app-card *ngIf='card' [card]='card'>
</app-card>