<div class="card mb-4">
  <div class="card-body">
    <h4 class="card-title">
      {{card.processo.vaga_nome}}
    </h4>
    <h6 class="card-subtitle mb-2 text-muted">
      {{card.processo.dia.split('-').reverse().join('/')}}
    </h6>
    <div class="card-text">


      <div class="list-group my-4 flex-row flex-wrap justify-content-around">

        <div class="m-1 list-group-item flex-column align-items-start col-md-5 col-sm-12">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Fontes</h5>
          </div>
          <p class="mb-1">
            {{card.processo.fontes}}
          </p>
        </div>

        <div class="list-group-item m-1 flex-column align-items-start col-md-5 col-sm-12">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Realizado Por</h5>
          </div>
          <p class="mb-1">
            {{card.processo.pessoas}}
          </p>
        </div>

      </div>


      <app-tabela (contadorClick)="onContadorChange($event)" [tabela]='card.table' [xPorClick]="xPorClick">
      </app-tabela>

    </div>
  </div>
</div>