<div class="tabela">

  <div *ngFor="let grupo of tabela" class="linha">

    <div class="grupo">{{grupo.nome}}</div>

    <div class="linhas">

      <div *ngFor="let linha of grupo.linhas" class="celula" (click)="click($event, linha)" (contextmenu)="click($event, linha)">
        <span class="nome">{{linha.nome}}</span>
        <div class="valor">
          <span>
            {{linha.contador}}
          </span>
        </div>
      </div>

    </div>

  </div>


</div>

<!-- <div class="tabela">

  <div class="linha">
    <div class="grupo">Triagem</div>
    <div class="linhas">

      <div class="celula">
        <span class="nome">CVs Recebidos</span>
        <span class="valor">23</span>
      </div>
      <div class="celula">
        <span class="nome">Fora do Perfil</span>
        <span class="valor">145</span>
      </div>
      <div class="celula">
        <span class="nome">Dentro do Perfil</span>
        <span class="valor">67</span>
      </div>

    </div>
  </div>

  <div class="linha">
    <div class="grupo">Provas</div>
    <div class="linhas">


      <div class="celula">
        <span class="nome">
          Faltosos
        </span>
        <span class="valor">12</span>
      </div>

      <div class="celula">
        <span class="nome">
          Presentes
        </span>
        <span class="valor">12</span>
      </div>

      <div class="celula">
        <span class="nome">
          Desistentes na Apresentação
        </span>
        <span class="valor">12</span>
      </div>

      <div class="celula">
        <span class="nome">
          Reprovados na entrevista
        </span>
        <span class="valor">12</span>
      </div>

      <div class="celula">
        <span class="nome">
          Aprovados na entrevista
        </span>
        <span class="valor">12</span>
      </div>

      <div class="celula">
        <span class="nome">
          Desistiu após a entrevista
        </span>
        <span class="valor">12</span>
      </div>

    </div>
  </div>

</div> -->
