<div class="d-flex justify-content-center mb-4">

  <button (click)="toggle()" class='btn btn-primary'>
    {{!visivel ? "Novo processo" : "Fechar"}}
  </button>

</div>


<div class="card mb-4" *ngIf="visivel">
  <div class="card-body">
    <h5 class="card-title">
      Criar um Novo Processo
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">
      descrição
    </h6>
    <div class="card-text mt-2">

      <div class="row">

        <div class="form-group col-md-6 col-sm-12">
          <label>Vaga</label>
          <select class="custom-select" [(ngModel)]="novo.vaga_id">
            <option value="0" selected disabled>Escolha uma vaga</option>
            <option *ngFor="let vaga of vagas" value={{vaga.id}}>{{vaga.nome}}</option>
          </select>
          <small class="form-text text-muted">
            <a (click)="criarVaga($event)" href="#">
              Clique aqui para adicionar nova vaga
            </a>
          </small>
        </div>

        <div class="form-group col-md-6 col-sm-12">
          <label>Filial</label>
          <select class="custom-select" [(ngModel)]="novo.vaga_id">
            <option value="0" selected disabled>Escolha uma filial</option>
            <option *ngFor="let filial of filiais" value={{filial.id}}>{{filial.nome}}</option>
          </select>
          <small class="form-text text-muted">
            <a (click)="criarFilial($event)" href="#">
              Clique aqui para adicionar nova filial
            </a>
          </small>
        </div>

        <div class="form-group col-md-6 col-sm-12">
          <label>Fontes</label>
          <input [(ngModel)]="novo.fontes" type="text" class="form-control">
          <small class="form-text text-muted">
            Fontes de divulgação usadas
          </small>
        </div>

        <div class="form-group col-md-6 col-sm-12">
          <label>Triagem feita por</label>
          <input [(ngModel)]="novo.pessoas" type="text" class="form-control">
          <small class="form-text text-muted">
            Nome das pessoas que fizeram
          </small>
        </div>

        <div class="form-group col-md-6 col-sm-12">
          <label>Data</label>
          <input [(ngModel)]="novo.dia" type="date" class="form-control">
        </div>

      </div>

      <button (click)="salvar()" class="btn btn-success my-2 col-sm-12">Salvar</button>

    </div>
  </div>
</div>