<div class="x-click">
  <div>
    <input [(ngModel)]='cardS.xPorClick' type="number" class="form-control form-control-sm">
    <small class="form-text text-muted">
      Mover {{cardS.xPorClick}} por Click
    </small>
  </div>
</div>

<div class="my-4">
  <a (click)="todosProcessos($event)" href="#">
    Selecione uma data ou clique aqui para
    listar todos os processos.
  </a>
</div>

<div class='row'>
  <div class="form-group col-md-6">
    <label>De:</label>
    <input (change)="onDateChange()" [(ngModel)]='form.de' type="date" class="form-control">
  </div>
  <div class="form-group col-md-6">
    <label>Até:</label>
    <input (change)="onDateChange()" [(ngModel)]='form.ate' type="date" class="form-control">
  </div>
</div>


<app-card *ngFor="let card of cards" class="card mb-4" [card]=card></app-card>